.send {
  color: white;
  background-color: #361999;
  border: 0;
  padding: 15px;
  width: calc(100% - 30px);
  max-width: 600px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 4px;
}

.input {
  margin: 15px;
  width: calc(100% - 60px);
  padding: 0px;
  /* border: 0; */
  padding: 12px;
}
